
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared style */
body{
    margin: 0 auto;
}
.btn-primary{
    padding: 16px;
    background-color: #30B868;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    
}
button:hover {
  background-color: #0a8f08;
}
.arrow-btn{
    background-color: #30B868;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}


/* Nav section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-right-side{
    display: flex;
}
nav a{
    text-decoration: none;
    color: black;
}
.nav-links{
    display: flex;
    margin-right: 300px;
    font-size: 16px;
    font-weight: 500;
}

/* <!-- Banner Section --> */
.banner-section{
    background-image: url('../assets/hero-bg.png');
    height: 674px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.banner-container{
    text-align: center;
    
}
.banner-title{
    padding: 5px ;
    text-align: center;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: 100px;
}
.banner-heading{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-heading-2{
    color: #30B868;
}
.banner-text{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 30px;
    
}
.arrow-btn, .second-btn{
    display: flex;             
    align-items: center;       
    justify-content: center;   
    padding: 10px 20px;        
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;              
    box-sizing: border-box;
}
.arrow-btn {
  background-color: #30B868;
  color: #FFFFFF;
  border: none;
  gap: 8px;                  
}
.second-btn {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid white;
}
.arrow-icon{
    width: 20px;
    height: 15px;
}
.banner-btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

/* card-section */
.card-section{
    text-align: center;
}
.card-heading{
    font-size: 48px;
    font-weight: 800;
}
.card-description{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 45px;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 120px;
}
.card{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
}

.card-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icon img{
    width: 32px;
    height: 32px;
}